.main_logo_slider {
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    border: 1px solid black;
    padding: 10px 0px;
}

.logo_slider_div {
    width: 85%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    overflow-x: scroll;
}

.logo_slider {
    flex: 0 0 350px;
    height: auto;
    background-color: #f0f8f7;
    border-radius: 5px;
    box-shadow: 3px 3px 7px grey;
    margin: 10px;
    left: 10px;
    padding: 5px 0px;
    align-content: start;
    align-items: start;
}